<template name="beginTesting">
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Testing Homepage</title>

      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="js/source.js"></script>
      <script type="text/javascript">

      </script>
    </head>
    <body>
      <div class="row">
        <div style="margin-top: 50px;" class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Begin Testing</h3>
            </div>
            <div class="panel-body">
              <h4>Choose a website below to put your design skills to the test!</h4>
              <div class="list-group">
                <a href="/hierarchy-heuristic/abc/{{ group }}" class="list-group-item">
                  <h5>Jiaxing Huang Group</h5>
                </a>
                <a href="/hierarchy-heuristic/def/{{ group }}" class="list-group-item">
                  <h5>Torkelson Research Group</h5>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </html>
</template>