<template name="BeginHeuristics">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Begin Heuristics</title>

            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
         

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="js/source.js"></script>
            <script type="text/javascript">
  
            </script>
        </head>
        <body>
            <div class="row">
                <div style="margin-top: 50px" class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Beginning Vertical Alignment Heuristics Testing</h3>
                        </div>
                        <div class="panel-body">
                            <h5>As you continue, you will be asked to do some visual testing of vertical alignment as well as some simple written reports of what you see could be fixed.</h5>

                            <button class="btn btn-primary btn-block">Begin Testing</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </body>
    </html>
</template>