<template name="compareFeedback">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Compare Feedback</title>

            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="js/source.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#commonalities").delegate("a", "click", function(e){
                        e.preventDefault();
                        selectFactors(this);
                    });
                });
  
            </script>
        </head>
        <body>

            <div style="margin-top: 50px;" class="row">
                <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1">
                    <h2>Here's what others have said:</h2>
                    <h3>Commonalities:</h3>
                    <div class="list-group">
                        <a id="strongVertical" href="#" class="list-group-item">
                            <h5>both display strong vertical lines</h5>
                        </a>
                        <a id="buttonLine" href="#" class="list-group-item">
                            <h5>both buttons align on the strong vertical lines</h5>
                        </a>
                    </div>

                    <h3>Differences:</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h5>one form strongly aligns to the right while the other aligns to the left</h5>
                        </a>
                        <a href="#" class="list-group-item">
                            <h5>both forms have different uses for required fields</h5>
                        </a>
                    </div>

                    <button id="next" class="btn btn-block btn-primary">Next</button>

                </div>
                <div class="col-lg-3 col-md-3">
                    <canvas id="target_form_canvas" width="350" height="460">
                    </canvas>
                </div>
          
                <div class="col-lg-4 col-md-4">
                    <canvas id="michaels_form_canvas" width="420" height="400">
                    </canvas>
                </div>
                <div class="col-lg-8 col-md-8 col-lg-offset-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            <h5 id="description"></h5>
                        </div>
                    </div>
                </div>
            </div>
   

        </body>
    </html>
</template>