<template name="StrongLineHeuristic2">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Begin Heuristics</title>

            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
         

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="js/source.js"></script>
            <script type="text/javascript">
                strongLinesArray = [];
                weakLinesArray = [];

                function drawVerticalLine(event){
                    var c = document.getElementById("test2");
                    var x = event.clientX;
                    var y = event.clientY;
                    //x -= c.offsetLeft;
                    //y -= c.offsetTop;

                    x = x - $("canvas").offset().left;

                    console.log("x is at: " + x + " and y is at: " + y);

                    var ctx = c.getContext("2d");
                    ctx.moveTo(x,0);
                    ctx.lineTo(x,550);
                    ctx.stroke();

                    current = $("#current").html();
                    if(current == "STRONG"){
                        strongLinesArray.push(x);
                        $("#strongArray").val(JSON.stringify(strongLinesArray));
                    } else {
                        weakLinesArray.push(x);
                        $("#weakArray").val(JSON.stringify(weakLinesArray));
                    }
                }

                function switchToWeak(){
                    $("#current").html("WEAK");
                    $("#switch").hide('slow', function(){
                        $("#submit").show('slow');
                    });
                    var canvas = document.getElementById("test2");
                    var context = canvas.getContext('2d');
                    context.beginPath();
                    context.clearRect(0, 0, canvas.width, canvas.height);
                }

                $(document).ready(function(){
                    var canvas = document.getElementById("test2");
                    canvas.addEventListener("mousedown", drawVerticalLine, false);
                    $("#switch").on("click", function(){
                        switchToWeak();
                    });


                    $("#reset").on("click", function(e){
                        e.preventDefault();
                        var context = canvas.getContext('2d');
                        context.beginPath();
                        context.clearRect(0, 0, canvas.width, canvas.height);
                        if($("#current").html() == 'WEAK'){
                            weakLinesArray = [];
                        } else {
                            strongLinesArray = [];
                        }
                    });
                });
            </script>
        </head>
        <body>
            <div style="margin: 20px;" class="row">
                <div class="col-lg-3 col-md-3">
                    <h3>Identify the <span id="current">STRONG</span> vertical lines in the image by clicking on it</h3>
                    <button id="reset" class="btn btn-default btn-block">Reset</button>
                    <button id="switch" class="btn btn-primary btn-block">Switch to Weak Lines</button>
                    <button style="display: none" id="submit" class="btn btn-success btn-block">Finish</button>
                </div>
                <div class="col-lg-8 col-md-8">
                    <canvas id="test2" class="testing2" width="810" height="600"></canvas>
                </div>
                <input type="hidden" id="strongArray" value="" />
                <input type="hidden" id="weakArray" value="" />
            </div>
            
        </body>
    </html>
</template>