<template name="teachingModule3">
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Teaching Module - Visual Hierarchy</title>

      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="js/source.js"></script>
      <script type="text/javascript">

      </script>
    </head>
    <body>
      <div class="row">
        <div style="margin-top: 50px;" class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Visual Hierarchy</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <h5>Visual hierarchy is the usage of color, contrast, texture, shape, position, orientation, and size to organize elements on a page so that users gets a sense of visual importance.</h5>
                  <h5>Look at the two simple examples to the right! How does the usage of the above principles affect the way your eyes view the design?</h5>
                  <button id="showMore1" class="btn btn-block btn-primary">Next</button>
                  <div id="moreInfo1" style="display: none;">
                    <hr />
                    <h5>By changing the color of just one element while leaving the other circles the same, the user's eye is immediately drawn to that single element</h5>
                    <hr />
                    <h5>As a designer - think about the 'visual importance' that each element on your page has! If you could have a user see only 1 or 2 objects on your site, what would they be?</h5>
                    <button id="next" class="btn btn-block btn-primary" style="margin-top: 25px;">Next</button>
                  </div>

                </div>
                <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
                  <img style="border: 1px solid #ddd; border-radius: 5px" src="img/visualHierarchy1.png" />
                  <img style="border: 1px solid #ddd; margin-top: 25px; border-radius: 5px;" src="img/visualHierarchy2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </html>
</template>