<template name="teachingModule2">
	<html lang="en">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Teaching Module #2</title>

	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="style.css">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	  </head>
	  <body>
	    <div class="row">
	      <div style="margin-top: 50px;" class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
	        <div class="panel panel-default">
	          <div class="panel-heading text-align-example">
	            Vertical Lines
	          </div>
	          <div class="panel-body">
	          	<div class="row">
	          		<div class="col-lg-4 col-md-4">
			            <h4 class="text-align-example">Using strong vertical alignment in your designs can radically change how people follow and perceive it.</h4>
			            <h5 class="text-align-example">Look at the following two changes - the content is the same, but notice how the vertical alignment affects how you read the information. </h5>
			            <button style="margin-top: 25px;" id="showMore1" class="btn btn-block btn-primary">Next</button>
			            <div id="moreInfo1" style="display: none;">
			            	<hr />
			            	<h5 class="text-align-example">
			            		The designer in these two examples improves the design on the left by using stronger vertical lines in the designs on the right.
			            	</h5>
			            	<h5 class="text-align-example">
			            		By not just placing text at will all over, and by avoiding center-aligned text, the user's eyes are guided through the design much faster and with less strain, as the eyes don't have to keep looking for a new start to each line.
			            	</h5>
			            	<h5 class="text-align-example">
			            		In fact, let's test this now! Click the 'Misalign' button below to see what happens when we no longer left align text:
			            	</h5>
			            	<button class="btn btn-info btn-block" id="misalign">Misalign Text</button>
			            	<h5 id="moreInfo2" style="display: none;">
			            		See how the organization of this page changes when the title and supporting text no longer lie on the same axis - which would you prefer?
			            	</h5>
			            </div>
			            <button style="margin-top: 25px; display: none;" id="next" class="btn btn-block btn-primary">Next</button>
			        </div>

	              <div class="col-lg-8 col-md-8">
	                <img src="img/vertical_line_1.png">
	                <img style="margin-left: 50px;" src="img/vertical_line_2.png">
	              </div>

	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	    <script src="js/source.js"></script>
	    <script type="text/javascript">

	    </script>
	  </body>
	</html>
</template>