<template name="teachingModule4">
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Teaching Module - Visual Hierarchy</title>

      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="js/source.js"></script>
      <script type="text/javascript">

      </script>
    </head>
    <body>
      <div class="row">
        <div style="margin-top: 50px;" class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>The Squint Test</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <h5>One of the techniques you can use to test visual hierarchy is call the 'squint test'. When looking at pages, actually squint so that the finer details of the page become less important, and visual importance becomse more prominent</h5>
                  <h5>Look at the two images on the right - they are already blurred so that you don't have to squint.  Now that the details are out of the way, what do you notice about visual importance of the elements on the page?</h5>
                  <button id="showMore1" class="btn btn-primary btn-block" style="margin-top: 25px;">Next</button>
                  <div id="moreInfo1" style="display: none;">
                    <hr />
                    <h5>If you compare these two examples, you'll notice one big difference - one page looks almost uniformly the same, while the other page has elements of different visual weight.</h5>
                    <h5>You only have a limited amount of time with each user! What will you choose to show?</h5>

                    <button id="next" class="btn btn-primary btn-block" style="margin-top: 25px;">Next</button>
                  </div>

                </div>
                <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
                  <img style="border: 1px solid #ddd; border-radius: 5px" src="img/blur1.png" />
                  <img style="border: 1px solid #ddd; margin-top: 25px; border-radius: 5px;" src="img/blur2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </html>
</template>