<template name="verticalLinesFeedback">
	<html lang="en">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Vertical Lines Feedback</title>

	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/style.css">

	  </head>
	  <body>

	    <div style="margin-top: 50px;" class="row">
			<div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1">
				<h3>Here's what other vertical lines people have noticed:</h3>
				<h4>Look for the concentrated areas of lines - here's where the strong vertical lines for this design lie.</h4>
				<h4 style="margin-top: 25px;">There are currently {{ totalLines }} total vertical lines aggregated</h4>
	
				<button style="margin-top: 50px;" id="next" class="btn btn-block btn-primary">Next</button>
			</div>	
			<div class="col-lg-8 col-md-8">
				<canvas style="border: 1px solid #ddd; border-radius: 5px;" id="vertical_canvas" width="700" height="500"></canvas>
			</div>
        	<input type="hidden" id="lineArray" value="" />
	    </div>
	    {{ invokeAfterLoad }}

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	    <script src="js/source.js"></script>
	    <script type="text/javascript">
			function drawVerticalLine(event){
				var c = document.getElementById("vertical_canvas");
				var x = event.clientX;
				var y = event.clientY;
				//x -= c.offsetLeft;
				//y -= c.offsetTop;

				x = x - $("canvas").offset().left;

				console.log("x is at: " + x + " and y is at: " + y);

				var ctx = c.getContext("2d");
				ctx.moveTo(x,0);
				ctx.lineTo(x,550);
				ctx.stroke();

				current = parseInt($("#count").html());
				$("#count").html(current+1);

				linesArray.push(x);
				$("#lineArray").val(JSON.stringify(linesArray));
			}
	      $(document).ready(function(){
	      	linesArray = [];
	        var canvas = document.getElementById("vertical_canvas");
	        canvas.addEventListener("mousedown", drawVerticalLine, false);

	        $("#reset").on("click", function(e){
	          e.preventDefault();
	          var context = canvas.getContext('2d');
	          context.beginPath();
	          context.clearRect(0, 0, canvas.width, canvas.height);
	          linesArray = [];
	          $("#count").html("0");
	          $("#lineArray").val("");
	        });

	      });

	    </script>
	  </body>
	</html>
</template>